<%- include("./partials/head.ejs") %>
<div class="login_container">
    <header>
        <h1>Welcome to the NBA Player Guesser!</h1>
    </header>
    <form action="/game" method="POST">
        <label for="username">Enter your username here:</label>
        <input type="text" name="username" id="username" required>
        <button type="submit" class="btn">Join Game</button>
    </form>
</div>
<%- include("./partials/footer.ejs") %>